In [1]:
import os

DIY1

1.)

In [4]:
import csv     # imports the csv module
import sys      # imports the sys module

f = open('TB_burden_countries_2014-09-29.csv') # opens the csv file
for row in csv.reader(f):
     row_count = sum(1 for row in csv.reader(f))
        
print("Number of rows in the tb file:", row_count)

Number of rows in the tb file: 4903

In [6]:
import numpy as np
import matplotlib.pyplot as plt # first import library
import pandas as pd

In [7]:
df = pd.read_csv('TB_burden_countries_2014-09-29.csv')
df.head(6)

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_prev_100k,e_prev_100k_lo,e_prev_100k_hi,...,e_inc_tbhiv_100k,e_inc_tbhiv_100k_lo,e_inc_tbhiv_100k_hi,e_inc_tbhiv_num,e_inc_tbhiv_num_lo,e_inc_tbhiv_num_hi,source_tbhiv,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,1990,11731193,327.0,112.0,655.0,...,0.35,0.22,0.52,41.0,25.0,60.0,Model,20.0,13.0,32.0
1,Afghanistan,AF,AFG,4,EMR,1991,12612043,359.0,172.0,613.0,...,0.36,0.19,0.58,45.0,24.0,73.0,Model,97.0,77.0,120.0
2,Afghanistan,AF,AFG,4,EMR,1992,13811876,387.0,169.0,693.0,...,0.37,0.19,0.62,51.0,26.0,86.0,Model,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1993,15175325,412.0,186.0,724.0,...,0.38,0.20,0.63,58.0,30.0,95.0,Model,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1994,16485018,431.0,199.0,751.0,...,0.40,0.21,0.64,65.0,35.0,100.0,Model,NaN,NaN,NaN
5,Afghanistan,AF,AFG,4,EMR,1995,17586073,447.0,208.0,775.0,...,0.41,0.23,0.65,72.0,40.0,110.0,Model,NaN,NaN,NaN

In [8]:
df.columns

Index(['country', 'iso2', 'iso3', 'iso_numeric', 'g_whoregion', 'year',
       'e_pop_num', 'e_prev_100k', 'e_prev_100k_lo', 'e_prev_100k_hi',
       'e_prev_num', 'e_prev_num_lo', 'e_prev_num_hi', 'e_mort_exc_tbhiv_100k',
       'e_mort_exc_tbhiv_100k_lo', 'e_mort_exc_tbhiv_100k_hi',
       'e_mort_exc_tbhiv_num', 'e_mort_exc_tbhiv_num_lo',
       'e_mort_exc_tbhiv_num_hi', 'source_mort', 'e_inc_100k', 'e_inc_100k_lo',
       'e_inc_100k_hi', 'e_inc_num', 'e_inc_num_lo', 'e_inc_num_hi',
       'e_tbhiv_prct', 'e_tbhiv_prct_lo', 'e_tbhiv_prct_hi',
       'e_inc_tbhiv_100k', 'e_inc_tbhiv_100k_lo', 'e_inc_tbhiv_100k_hi',
       'e_inc_tbhiv_num', 'e_inc_tbhiv_num_lo', 'e_inc_tbhiv_num_hi',
       'source_tbhiv', 'c_cdr', 'c_cdr_lo', 'c_cdr_hi'],
      dtype='object')

2.)

In [9]:
with open('TB_burden_countries_2014-09-29.csv', 'r') as f:
    # Create a CSV reader object
    csv_reader = csv.reader(f)

    # Skip the header row
    next(csv_reader)

    # Initialize variables to store the sum and count of numeric values
    total = 0
    count = 0

    # Iterate over each row in the CSV file
    for row in csv_reader:
        # Extract the value from the "e_prev_num_lo" column (assuming it's in the third column, index 2)
        value = row[11]

        # Check if the value is not blank and can be converted to a float
        if value.strip():
            try:
                # Convert the value to a float and add it to the total
                total += float(value)
                # Increment the count
                count += 1
            except ValueError:
                # Handle the case where the value cannot be converted to a float
                pass

# Calculate the average
if count > 0:
    average = total / count
    print("Average value of 'e_prev_num_lo' column:", average)
else:
    print("No valid numeric values found in the 'e_prev_num_lo' column.")

Average value of 'e_prev_num_lo' column: 43661.05531071133

3.)

In [10]:
# Open the CSV file
with open('TB_burden_countries_2014-09-29.csv', 'r') as f:
    # Create a CSV reader object
    csv_reader = csv.reader(f)

    # Skip the header row
    next(csv_reader)

    # Initialize variables for the sum and count of values in 1990 and 2011
    sum_1990 = 0
    count_1990 = 0
    sum_2011 = 0
    count_2011 = 0

    for row in csv_reader:
        # The value of YEAR  is in column 7 from 0-6
        year = int(row[5]) 
         # The value of  e_prev_num_lo is in column 12 from 0-11 
        value = row[11]  
        if value.strip():
            value = float(value)
            if year == 1990:
                sum_1990 += value
                count_1990 += 1
            elif year == 2011:
                sum_2011 += value
                count_2011 += 1

# Separate avg of the years are calculated if it exists:
average_1990 = sum_1990 / count_1990 if count_1990 > 0 else None
average_2011 = sum_2011 / count_2011 if count_2011 > 0 else None

# Compare the averages
if average_1990 is not None and average_2011 is not None:
    print("\nAverage value of 'e_prev_num_lo' column for 1990:", average_1990)
    print("\nAverage value of 'e_prev_num_lo' column for 2011:", average_2011)
    
    if average_1990 < average_2011:
        print("\nThe average for 2011 is higher than for 1990.")
    elif average_1990 > average_2011:
        print("\nThe average value of the 1990 is higher than for 2011.")
    else:
        print("\nThe averages for 1990 and 2011 are equal.")
else:
    print("No valid numeric values found for one or both years.")

Average value of 'e_prev_num_lo' column for 1990: 44379.73417061612

Average value of 'e_prev_num_lo' column for 2011: 33320.0524537037

The average value of the 1990 is higher than for 2011.